---
import "../css/style.css";
import "../css/layout.css";
import MainLayout from "../layout/MainLayout.astro";
import Shelve1 from "../components/Shelve1.astro";
import Shelve2 from "../components/Shelve2.astro";
import Shelve3 from "../components/Shelve3.astro";
import Shelve4 from "../components/Shelve4.astro";
import Shelve5 from "../components/Shelve5.astro";
---


<MainLayout title = "Krestine Haugaard">
	<header></header>
    <main>
		<div class="layout_decoration line_under_header"></div>
		<div class="layout_decoration line_2"></div>
		<Shelve1/>
		<div class="layout_decoration line_3"></div>
		<div class="layout_decoration line_4"></div>
		<Shelve1/>
		<div class="layout_decoration line_5"></div>
		<div class="layout_decoration line_6"></div>
		<Shelve1/>
		<div class="layout_decoration line_7"></div>
		<div class="layout_decoration line_8"></div>
		<div class="layout_decoration line_9"></div>
		<div class="layout_decoration line_10"></div>
		<Shelve4/>
		<div class="layout_decoration line_11"></div>
		<div class="layout_decoration line_12"></div>
		<div class="layout_decoration line_13"></div>
		<Shelve5/>
		<div class="layout_decoration line_above_footer"></div>    
    </main>
    <footer><p>© Krestine Haugaard 2024</p></footer>
</MainLayout>

<script>
	import "../js/js.js";
</script>