---
import "../css/style.css";
---

<article id="box" class="box_1 box_left">
    <div>
        <h1>Krestine</h1>
        <h1 class="space_in">Haugaard</h1>
    </div>
    <img src="./picture_of_creator.webp" alt="Picture of creator">
</article>

<style>

    article{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 3rem;
    }

    .space_in{
        margin-left: 2rem;
    }

    img{
        max-width: 70%;
        border-radius: var(--border-radius);
    }

    @media (min-width: 700px) {
        article{
            grid-template-columns: repeat(2, 1fr);
            justify-items: auto;
        }
    }

</style>

<script src="../js/js.js"></script>