---
import "../css/style.css";
---

<article id="box" class="box_2 box_right hide">
    <h2>Who am i?</h2>
    <p>I'm 25 years old, currently living in Nordvest of Copenhagen, but originally from Vestsjælland, and I'm studying multimedia design at KEA.</p>
    <details>
        <summary>Some "fun" facts:</summary>
        <ul>
            <li>I like green, a lot.</li>
            <li>Playing computer is a great hobby of mine.</li>
            <li>I have watched the series Matador probably 5 times by now (first seeing it at 23)</li>
            <li>Halloween is my favorite “holiday”, but I do hate the cheap plastic decorations, they look like trash.</li>
            <li>I bought my trusty bicycle when I was 13 years old, and it is still going strong.</li>
        </ul>
    </details>
    <p>When I first started at KEA, my mind was set on design. But I quickly learned how fun and challenging frontend development was, so much so I decided to dive deeper into the wonderful world of coding. I love the creative work of styling a webpage, but also the rush of getting your code to work just the way you want it. I often find myself working on projects to late hours because it's so hard to let go when you're in the flow.</p>
    <p>I see myself as an independent, creative and curious worker. I tend to focus on detail, making sure everything works just right, and often go a little quiet when concentrating, but that does not mean I don’t want to socialize. I feel the best office space is a space where everyone can be themselves, not afraid of sharing new ideas and helping each other, and where the atmosphere is casual and relaxed.</p>
    <p>I hope, through my 10 weeks of internship, to evolve my skill in coding (HTML, CSS and JavaScript) and get to work with frontend on a more professional level. I'm open to whatever challenges you want to throw my way.</p>
    <p>Please do take a look at some of the projects I have made, especially my animations project, it definitely needs work but I think a lot of my personality and humor shines through in the idea of the game.</p>
</article>

<style>

    p, summary, li{
        margin-top: 2rem;
    }

    article p:nth-child(2){
        margin-top: 0rem;
    }

    ul{
        margin-left: 1rem;
    }

</style>

<script src="../js/js.js"></script>