---
import "../css/style.css";
---

<article id="box" class="box_4 box_right hide">
    <h2>My contact information</h2>
    <div class="flex">
        <p>E-mail: krestinehaugaard@gmail.com</p>
        <p>Tlf: +45 30 25 09 85</p>
        <a title="Opens new fan" target="_blank" href="https://github.com/krestineHaugaard">GitHub</a>
        <a title="Opens new fan" target="_blank" href="https://www.linkedin.com/in/krestine-haugaard-a80447264/">LinkedIn</a>
    </div>
</article>

<style>

.flex{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

</style>

<script src="../js/js.js"></script>