---
import "../css/style.css";
import "../css/layout.css";
---

<article>
    <div>
        <h1>Krestine</h1>
        <h1>Haugaard</h1>
    </div>
    <img src="./picture_of_creator.webp" alt="">
</article>


<style>

    article{
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--standart-spacing);
        align-items: center;
        justify-items: center;
        margin: auto;
        height: 400px;
        width: 800px;
    }

    img{
        max-height: 400px;
        justify-self: end;
    }

    div :last-child{
        margin-left: 10px;
    }

    @media (min-width: 700px) {
        article{
            grid-template-columns: repeat(2, 1fr);
            justify-items: start;
            margin: auto;
        }
    }

</style>