---
import "../css/style.css";
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body data-theme="dark">
		<header>
			<div class="select_btns">
				<button id="select_btn_me" class="box_select_button active_button">Me</button>
				<button id="select_btn_who_am_i" class="box_select_button">Who am I?</button>
				<button id="select_btn_projects" class="box_select_button">Projects</button>
				<button id="select_btn_contact_information" class="box_select_button">Contact information</button>
			</div>
			<button title="Switch theme" class="theme_button">Dark mode</button>
		</header>
    	<main>
		 	<slot/>  
    	</main>
    	<footer><p>© Krestine Haugaard 2024</p></footer>
	</body>
</html>

<style>

</style>

<script src="../js/js.js"></script>